@tailwind base;
@tailwind components;
@tailwind utilities;

.li_menu{
    @apply hover:text-white active:scale-95 flex gap-2 text-gray-300
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e5e7eb;
  }